.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.highlight {
  color: $accent-color;
}

.btn {
  display: inline-block;
  white-space: nowrap;
  user-select: none;
  touch-action: manipulation;
  background-image: none;
  border: none;
  line-height: 1.6;
  cursor: pointer;
  outline: none;
  @include scale-styles((
          "padding-top": $size-1,
          "padding-right": $size-2,
          "padding-bottom": $size-1,
          "padding-left": $size-2
  ));

  &-primary {
    background-color: $primary-bright;
    color: white;

    &:focus, &:hover {
      background-color: $primary-color;
    }
  }
}

.container {
  padding-top: 0;
  padding-bottom: 0;
  @include scale-styles((
          "padding-right": $container-horizontal-padding,
          "padding-left": $container-horizontal-padding
  ));
}