.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.highlight {
  color: $accent-color;
}

.btn {
  display: inline-block;
  white-space: nowrap;
  padding: $size-1 $size-2;
  user-select: none;
  touch-action: manipulation;
  &-primary {
    background-color: $primary-bright;
    color: white;
    &:focus, &:hover {
        background-color: $primary-color;
    }
  }
}

.container {
  padding: 0 $container-horizontal-padding;
}