*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  font-size: $base-text-size;
}

body {
  font-family: $sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: $text-color;
  text-align: left;
  background-color: $background-white;
}

main {
  padding: 0;
  margin-left: $sidebar-width;
}

section {
  padding: $section-vertical-padding 0;
}

footer {
  position: fixed;
  z-index: 200;
  width: $sidebar-width;
  padding: $size-4;
  bottom: 0;
  left: 0;
  color: $muted-color;
  font-size: $small-size;
  text-align: center;
  background-color: $background-gray;
}

hr {
  margin: $size-2 0;
  border: 0;
  border-bottom: 1px solid $border-color;
}