*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  font-size: $root-size;
  @include tablet {
    font-size: $root-size-tablet;
  }
  @include mobile {
    font-size: $root-size-mobile;
  }
}

body {
  font-family: $sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: $text-color;
  text-align: left;
  background-color: $background-white;
  overflow-x: hidden;
}

main {
  padding: 0;
  @include scale-styles((
          "margin-left": $sidebar-width
  ), ("xxl", "xl", "lg", "md"));
  @include scale-styles((
          "margin-left": 0
  ), ("sm"));
}

section {
  padding-left: 0;
  padding-right: 0;
  @include scale-styles((
          "padding-top": $section-vertical-padding,
          "padding-bottom": $section-vertical-padding
  ));
  h2 {
    text-align: center;
    @include scale-styles((
            "margin-bottom": $size-4
    ));
  }
}

footer {
  position: fixed;
  z-index: 200;
  bottom: 0;
  left: 0;
  color: $muted-color;
  font-size: $small-size;
  text-align: center;
  background-color: $background-gray;
  @include scale-styles((
          "width": $sidebar-width,
          "padding": $size-4
  ), ("xxl", "xl", "lg", "md"));
  @include large-mobile {
    position: static;
    width: auto;
  }
}

hr {
  margin-left: 0;
  margin-right: 0;
  border: 0;
  border-bottom: 2px solid $primary-bright;
  @include scale-styles((
          "width": $size-6,
          "margin-top": $size-2,
          "margin-bottom": $size-2
  ));
}

ul {
  margin: 0;
}