#contact {
  position: relative;

  .contact {
    &-background {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      max-height: 300px;
      overflow: hidden;
    }

    &-card {
      min-height: 300px;
      margin-left: auto;
      width: 60%;
      position: relative;
      background-color: $background-white;
      box-shadow: $light-shadow;
      @include scale-styles((
              "padding": $size-4
      ));
      @include tablet {
        width: 80%;
      }
      @include large-mobile {
        width: 100%;
      }

      h2 {
        text-align: left;
      }
    }

    &-form {
      position: relative;

      .form {
        &-status {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(255, 255, 255, .8);
          color: $accent-color;
          border: 2px solid;
          font-family: $sans-serif-header;
          @include scale-styles((
                  "font-size": 1.2rem
          ));

          &.loading {
            color: $primary-bright;
          }

          &.success {
            color: $success-color;
          }

          > div {
            > div {
              text-align: center;
              @include scale-styles((
                      "margin-top": $size-1,
                      "margin-right": $size-4,
                      "margin-bottom": $size-1,
                      "margin-left": $size-4
              ));
            }
          }
        }

        &-row {
          display: flex;
          @include scale-styles((
                  "margin-top": $size-2,
                  "margin-right": -$size-1,
                  "margin-bottom": $size-2,
                  "margin-left": -$size-1
          ));
          @include mobile {
            display: block;
            margin: 0;
          }

          > * { // label
            flex: 1;
            @include scale-styles((
                    "margin-right": $size-1,
                    "margin-left": $size-1
            ));
            @include mobile {
              margin: 0;
            }

            > * { // input/textarea
              line-height: 2;
              width: 100%;
              border: 2px solid $border-color;
              outline: none;
              resize: vertical;
              @include scale-styles((
                      "padding": $size-1
              ));
              @include mobile {
                margin-bottom: 1rem;
              }

              &:focus {
                border-color: $primary-bright;
              }
            }
          }
        }
      }
    }
  }
}
