#hero {
  position: relative;

  .hero {
    &-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-height: $hero-height;
      overflow: hidden;
    }

    &-inner {
      padding-top: $size-1 * 8;
      padding-bottom: $size-1;
    }

    &-backdrop {
      height: 300px;
      position: absolute;
      right: $size-1 * 7;
      bottom: $size-6;
      left: $size-1 * 35;
      background-image: url(../images/blue-line.svg);
    }
  }

  .intro {
    &-body {
      background-color: $background-white;
      margin-left: $size-1 * 26;
      padding: $size-4 $size-4 $size-4 $size-1 * 10;
      position: relative;
    }

    &-me {
      width: $size-1 * 32;
      position: absolute;
      left: $size-1 * -26;
      top: 0;
      box-shadow: $light-shadow;
    }

    &-content {

    }

    &-bio {
      margin-bottom: $size-3;

      h1 {
        color: $accent-color;
        margin-top: 0;
      }
    }

    &-social {
      background-color: $background-white;
      position: absolute;
      right: $size-4;
      bottom: -1 * $size-4;
      padding: $size-2;
      box-shadow: $light-shadow;
      text-align: center;

      h3 {
        margin-top: 0;
      }
    }
  }
}