#hero {
  position: relative;

  .hero {
    &-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      @include scale-styles((
              "max-height": $hero-height
      ));
    }

    &-inner {
      @include scale-styles((
              "padding-top": $size-1 * 8,
              "padding-bottom": $size-1
      ));
    }

    &-backdrop {
      position: absolute;
      top: 0;
      background-image: url(../images/blue-line.svg);
      @include scale-styles((
              "right": $size-1 * 7,
              "left": $size-1 * 35,
              "bottom": $size-6
      ));
    }
  }

  .intro {
    &-body {
      background-color: $background-white;
      position: relative;
      @include scale-styles((
              "margin-left": $size-1 * 26,
              "padding-top": $size-4,
              "padding-right": $size-4,
              "padding-bottom": $size-4,
              "padding-left": $size-1 * 10
      ));
    }

    &-me {
      position: absolute;
      top: 0;
      box-shadow: $light-shadow;
      @include scale-styles((
              "width": $size-1 * 32,
              "left": $size-1 * -26
      ));
    }

    &-content {

    }

    &-bio {
      @include scale-styles((
              "margin-bottom": $size-3
      ));

      h1 {
        color: $accent-color;
        margin-top: 0;
      }
    }

    &-social {
      background-color: $background-white;
      position: absolute;
      box-shadow: $light-shadow;
      text-align: center;
      @include scale-styles((
              "right": $size-4,
              "bottom": -1 * $size-4,
              "padding": $size-2
      ));

      h3 {
        margin-top: 0;
      }
    }
  }
}

#cv {
  .container {
    position: relative;
  }
  .cv-background {
    position: absolute;
    bottom: 0;
    top: 5rem;
    left: 2rem;
    right: 2rem;
    background-image: url(../images/blue-dot.svg);
  }
  .cv-cards {
    display: flex;
    position: relative;
    @include scale-styles((
            "margin-left": -$size-2,
            "margin-right": -$size-2,
            "padding-bottom": $size-4
    ));

    > div {
      flex: 1;
      box-shadow: $light-shadow;
      background-color: $background-white;
      @include scale-styles((
              "margin-left": $size-2,
              "margin-right": $size-2
      ));
      &:last-child {
        h3 {
          background-color: $accent-color;
        }
      }
      h3 {
        text-align: center;
        color: $background-white;
        margin: 0;
        background-color: $primary-bright;
        @include scale-styles((
                "padding": $size-1
        ));
      }
      > div {
        @include scale-styles((
                "padding": $size-2
        ));
      }
      ul {
        li {
          @include scale-styles((
                  "margin-bottom": $size-1
          ));
        }
      }
    }
  }
}

#experiences {

}