#hero {
  position: relative;

  .hero {
    &-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      @include scale-styles((
              "max-height": $hero-height
      ));
    }

    &-inner {
      @include scale-styles((
              "padding-top": $size-1 * 8,
              "padding-bottom": $size-1
      ));
    }

    &-backdrop {
      position: absolute;
      top: 0;
      background-image: url(../images/blue-line.svg);
      @include scale-styles((
              "right": $size-1 * 7,
              "left": $size-1 * 35,
              "bottom": $size-6
      ));
    }
  }

  .intro {
    &-body {
      background-color: $background-white;
      position: relative;
      @include scale-styles((
              "margin-left": $size-1 * 26,
              "padding-top": $size-4,
              "padding-right": $size-4,
              "padding-bottom": $size-4,
              "padding-left": $size-1 * 10
      ));
    }

    &-me {
      position: absolute;
      top: 0;
      box-shadow: $light-shadow;
      @include scale-styles((
              "width": $size-1 * 32,
              "left": $size-1 * -26
      ));
    }

    &-content {

    }

    &-bio {
      @include scale-styles((
              "margin-bottom": $size-3
      ));

      h1 {
        color: $accent-color;
        margin-top: 0;
      }
    }

    &-social {
      background-color: $background-white;
      position: absolute;
      box-shadow: $light-shadow;
      text-align: center;
      @include scale-styles((
              "right": $size-4,
              "bottom": -1 * $size-4,
              "padding": $size-2
      ));

      h3 {
        margin-top: 0;
      }
    }
  }
}

#cv {
  .container {
    position: relative;
  }

  .cv-background {
    position: absolute;
    bottom: 0;
    top: 5rem;
    left: 2rem;
    right: 2rem;
    background-image: url(../images/blue-dot.svg);
  }

  .cv-cards {
    display: flex;
    position: relative;
    @include scale-styles((
            "margin-left": -$size-2,
            "margin-right": -$size-2,
            "padding-bottom": $size-4
    ));

    > div {
      flex: 1;
      box-shadow: $light-shadow;
      background-color: $background-white;
      @include scale-styles((
              "margin-left": $size-2,
              "margin-right": $size-2
      ));

      &:last-child {
        h3 {
          background-color: $accent-color;
        }
      }

      h3 {
        text-align: center;
        color: $background-white;
        margin: 0;
        background-color: $primary-bright;
        @include scale-styles((
                "padding": $size-1
        ));
      }

      > div {
        @include scale-styles((
                "padding": $size-2
        ));
      }

      ul {
        li {
          @include scale-styles((
                  "margin-bottom": $size-1
          ));
        }
      }
    }
  }
}

#experiences {
  .timeline-items {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      height: 100%;
      width: 6px;
      top: 0;
      left: calc(50% - 3px);
      background-color: $primary-light;
      z-index: 5;
    }
  }

  .timeline {
    $right: '#experiences .timeline[data-align="right"]';
    $left: '#experiences .timeline[data-align="left"]';
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      background: white;
      top: 0;
      left: calc(50% - 12px);
      z-index: 10;
      border: 5px solid $primary-light;
      border-radius: 50%;
    }

    &-label {
      position: absolute;
      font-family: $sans-serif-header;
      font-weight: 600;
      color: $primary-bright;
      @include scale-styles((
              "font-size": 1.1rem
      ));
      @include scale-calc("width", "50% - ", "", $size-6);
      @at-root #{$right} .timeline-label {
        text-align: right;
        left: 0;
      }
      @at-root #{$left} .timeline-label {
        text-align: left;
        right: 0;
      }
    }

    &-body {
      display: flex;
      align-items: flex-end;
      @include scale-styles((
              "padding-top": $size-6,
              "padding-bottom": $size-6 * 2
      ));

      > div {
        position: relative;
      }
    }

    &-background {
      flex: 1;
      // opacity: .5;
      z-index: 1;
      @include scale-styles((
              "bottom": -$size-6
      ));
      @at-root #{$right} .timeline-background {
        @include scale-styles((
                "left": $size-6,
                "margin-left": $size-2 * 8
        ));
      }
      @at-root #{$left} .timeline-background {
        order: 2;
        @include scale-styles((
                "right": $size-6,
                "margin-right": $size-2 * 8
        ));
      }
    }

    &-content {
      background-color: $background-white;
      box-shadow: $light-shadow;
      z-index: 2;
      @include scale-styles((
              "padding-top": $size-2,
              "padding-right": $size-4,
              "padding-bottom": $size-2,
              "padding-left": $size-4
      ));
      @include scale-calc("width", "50% - ", "", $size-6);
      @at-root #{$left} .timeline-content {
        order: 1;
      }
      h3 {
        color: $accent-color;
      }

      h4 {
        color: $text-color;
      }
    }
  }
}

#portfolio {
  .filters {
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;

      li {
        &.active {
          a {
            color: $accent-color;
          }
        }

        a {
          display: block;
          font-weight: 600;
          @include scale-styles((
                  "padding-top": $size-0,
                  "padding-right": $size-1,
                  "padding-bottom": $size-0,
                  "padding-left": $size-1
          ));
        }
      }
    }
  }

  .portfolio-cards {
    display: flex;
    flex-flow: row wrap;
    @include scale-styles((
            "margin-left": -$size-2,
            "margin-right": -$size-2
    ));

    .card {
      width: 33.3333%;
      @include scale-styles((
              "padding": $size-2
      ));

      &-body {
        position: relative;
        height: 100%;
        overflow: hidden;
        background-color: $background-white;
        box-shadow: $light-shadow;
        @include scale-styles((
                "padding": $size-2
        ));
      }

      &-content {
        position: relative;
        z-index: 2;
        text-align: right;
        @include scale-styles((
                "margin-left": $size-4
        ));

        h3 {
          color: $accent-color;
        }

        .card-blurb {
          color: $muted-color;
          font-size: $small-size;
          @include scale-styles((
                  "padding-bottom": $size-6
          ))
        }
      }

      &-thumbnail {
        position: absolute;
        left: -30%;
        top: 70%;
        width: 100%;
        transform: rotate(20deg);
        z-index: 1;
      }
    }
  }
}

#contact {
  position: relative;

  .contact {
    &-background {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      max-height: 300px;
      overflow: hidden;
    }

    &-card {
      min-height: 300px;
      margin-left: auto;
      width: 60%;
      position: relative;
      background-color: $background-white;
      box-shadow: $light-shadow;
      @include scale-styles((
              "padding": $size-4
      ));

      h2 {
        text-align: left;
      }
    }

    &-form {
      position: relative;

      .form {
        &-status {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(255, 255, 255, .8);
          color: $accent-color;
          border: 2px solid;
          font-family: $sans-serif-header;
          @include scale-styles((
                  "font-size": 1.2rem
          ));

          &.loading {
            color: $primary-bright;
          }

          &.success {
            color: $success-color;
          }

          > div {
            > div {
              text-align: center;
              @include scale-styles((
                      "margin-top": $size-1,
                      "margin-right": $size-4,
                      "margin-bottom": $size-1,
                      "margin-left": $size-4
              ));
            }
          }
        }

        &-row {
          display: flex;
          @include scale-styles((
                  "margin-top": $size-2,
                  "margin-right": -$size-1,
                  "margin-bottom": $size-2,
                  "margin-left": -$size-1
          ));

          > * { // label
            flex: 1;
            @include scale-styles((
                    "margin-right": $size-1,
                    "margin-left": $size-1
            ));

            > * { // input/textarea
              line-height: 2;
              width: 100%;
              border: 2px solid $border-color;
              outline: none;
              resize: vertical;
              @include scale-styles((
                      "padding": $size-1
              ));
              &:focus {
                border-color: $primary-bright;
              }
            }
          }
        }
      }
    }
  }
}
