h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
  font-family: $sans-serif-header;
}

h1, h2 {
  font-weight: 700;
}

h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 1.6rem;
  margin-left: 0;
  margin-right: 0;
  @include scale-styles((
          "margin-top": 1rem,
          "margin-bottom": 1rem
  ));
}

h2 {
  font-size: 1.4rem;
  margin-left: 0;
  margin-right: 0;
  @include scale-styles((
          "margin-top": .8rem,
          "margin-bottom": .5rem
  ));
}

h3 {
  font-size: 1.2rem;
  margin-left: 0;
  margin-right: 0;
  @include scale-styles((
          "margin-top": .5rem,
          "margin-bottom": .5rem
  ));
}

h4 {
  font-size: 1rem;
  margin-left: 0;
  margin-right: 0;
  @include scale-styles((
          "margin-top": .5rem,
          "margin-bottom": .5rem
  ));
}

h5 {
  font-size: .9rem;
  margin-left: 0;
  margin-right: 0;
  @include scale-styles((
          "margin-top": .3rem,
          "margin-bottom": .5rem
  ));
}

h6 {
  font-size: .85rem;
  margin-left: 0;
  margin-right: 0;
  @include scale-styles((
          "margin-top": .3rem,
          "margin-bottom": .5rem
  ));
}

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  @include scale-styles((
          "margin-bottom": .85rem
  ));
}

a {
  color: $primary-bright;
  font-family: $sans-serif-header;
  text-decoration: none;
  font-weight: 500;
  @include scale-styles((
          "padding": 2px
  ));

  &:focus, &:hover {
    background-color: $accent-light;
  }
}

// fonts
// noinspection CssUnknownTarget
@font-face {
  font-family: 'portfolio';
  src: url('/fonts/portfolio.eot');
  src: url('/fonts/portfolio.eot#iefix') format('embedded-opentype'),
  url('/fonts/portfolio.ttf') format('truetype'),
  url('/fonts/portfolio.woff') format('woff'),
  url('/fonts/portfolio.svg#portfolio') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  // noinspection CssNoGenericFontName
  display: inline-block;
  font-family: 'portfolio' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  @include scale-styles((
          "font-size": $icon-size
  ));

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &-twitter:before {
    content: "\ea96";
  }

  &-github:before {
    content: "\eab0";
  }

  &-linkedin:before {
    content: "\eac9";
  }

  &-codepen:before {
    content: "\eae8";
  }

  &-cross:before {
    content: "\ea0f";
  }

  &-checkmark:before {
    content: "\ea10";
  }

  &-spinner {
    animation: spin 2s infinite linear;
    &:before {
      content: "\e97f";
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}