h1, h2, h3, h4, h5, h6 {
  font-family: var(--sans-serif-header);
  font-weight: 600;
}

h1 {
  font-size: 1.6rem;
  margin: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  margin: .8rem 0 .5rem;
}

h3 {
  font-size: 1.2rem;
  margin: .5rem 0;
}

h4 {
  font-size: 1rem;
  margin: .5rem 0;
}

h5 {
  font-size: .9rem;
  margin: .3rem 0 .5rem;
}

h6 {
  font-size: .85rem;
  margin: .3rem 0 .5rem;
}

p {
  margin: 0 0 .85rem;
}

a {
  color: var(--primary-bright);
  font-family: var(--sans-serif-header);
  text-decoration: none;
  font-weight: 500;
  padding: 2px;
  &:focus, &:hover {
    background-color: var(--accent-light);
  }
}
