header {
    position: fixed;
    width: 330px;
    left: 0;
    top: 0;
    background-color: white;
    height: 100%;
    padding: 2em;
    box-shadow: 2px 5px 5px rgba(0,0,0,.08);
    z-index: 100;
}

header nav {
    margin: 2em;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav li {
    padding: .5em 0;
}

header nav li a {
    color: #999;
}